div.woocommerce-message,
ul.woocommerce-error {
	color: white !important;
}

div.woocommerce-message {
	background-color: #666 !important;
	a.button {
		background-color: #f60 !important;
		&:hover {
			color: black !important;
		}
	}
}

ul.woocommerce-error {
	border: solid 3px red !important;
	background-color: transparent !important;
}

.single-product {
	.price {
		span {
			font-size: 1.4rem !important;
		}
	}
}

ul#av-burger-menu-ul > li > a {
	text-transform: uppercase;
}

#menu-item-shop {
	border-left: none;
	border-right: none;
}

h3#ship-to-different-address {
	label {
		span {
			font-size: inherit;
		}
	}
}

.product-sorting {
	display: none;
}

.id-1720 { // /shop
	.av_one_fourth {
		h2 {
			text-align: center;
			width: 100%;
		}
	}
}

.renew-spot {
	margin-top: 3rem;
	& + .rewnew-spot {
		margin-top: 4em;
	}
	table.shop_attributes {
		th {
			width: 200px;
		}
	}
}

.renew-err {
	margin-bottom: 3em;
}
.container > .renew-err {
	margin-bottom: 4em;
}

.archive.term-rv-spaces {
	#map {
		height: 600px;
		width: 100%;
	}
	.template-shop .page-title {
		display: block;
		text-transform: uppercase;
	}
}

.id-5298 { // /rv-space-renewal
	#map {
		height: 400px;
		width: 100%;
	}
}

.archive.term-gear { // /shop-category/gear
	.product-category.product {
		&, a {
			border: none !important;
		}
	}
	.woocommerce-loop-category__title {
		text-align: center;
		padding: 10px 0 !important
	}
}

.woocommerce-checkout {
	.woocommerce-form-coupon-toggle {
		display: none;
	}
}

.woocommerce-cart,
.woocommerce-checkout {
	tr:nth-child(even) {
		color: inherit;
	}
}

.tax-product_cat {
	#av_product_description h1 {
		font-weight: 700;
		font-size: 77px;
		letter-spacing: 4.2px;
		text-transform: uppercase;
	}
}

#footer .widget.yith_woocommerce_ajax_search {
	overflow: visible;
}

@media only screen and (max-width: 767px) {
	.responsive #top #main .sidebar.smartphones_sidebar_active {
		border-top: none;
	}
}

.main_color, .main_color div, .main_color header, .main_color main, .main_color aside, .main_color footer, .main_color article, .main_color nav, .main_color section, .main_color span, .main_color applet, .main_color object, .main_color iframe, .main_color h1, .main_color h2, .main_color h3, .main_color h4, .main_color h5, .main_color h6, .main_color p, .main_color blockquote, .main_color pre, .main_color a, .main_color abbr, .main_color acronym, .main_color address, .main_color big, .main_color cite, .main_color code, .main_color del, .main_color dfn, .main_color em, .main_color img, .main_color ins, .main_color kbd, .main_color q, .main_color s, .main_color samp, .main_color small, .main_color strike, .main_color strong, .main_color sub, .main_color sup, .main_color tt, .main_color var, .main_color b, .main_color u, .main_color i, .main_color center, .main_color dl, .main_color dt, .main_color dd, .main_color ol, .main_color ul, .main_color li, .main_color fieldset, .main_color form, .main_color label, .main_color legend, .main_color table, .main_color caption, .main_color tbody, .main_color tfoot, .main_color thead, .main_color tr, .main_color th, .main_color td, .main_color article, .main_color aside, .main_color canvas, .main_color details, .main_color embed, .main_color figure, .main_color fieldset, .main_color figcaption, .main_color footer, .main_color header, .main_color hgroup, .main_color menu, .main_color nav, .main_color output, .main_color ruby, .main_color section, .main_color summary, .main_color time, .main_color mark, .main_color audio, .main_color video, #top .main_color .pullquote_boxed, .responsive #top .main_color .avia-testimonial, .responsive #top.avia-blank #main .main_color.container_wrap:first-child, #top .main_color.fullsize .template-blog .post_delimiter, .main_color .related_posts.av-related-style-full a {
	border-color: #333;
}

#top .main_color .input-text, #top .main_color input[type='text'], #top .main_color input[type='input'], #top .main_color input[type='password'], #top .main_color input[type='email'], #top .main_color input[type='number'], #top .main_color input[type='url'], #top .main_color input[type='tel'], #top .main_color input[type='search'], #top .main_color textarea, #top .main_color select {
	border-color: #808080;
}
